@{
	Layout = null;
}
<div class="card-header">
	<h1 class="card-title">Listar Eventos</h1>
</div>

<div class="table-responsive">
	<table class="table table-bordered table-striped table-hover" id="lista_eventos">
		<thead>
			<tr>
				<th class="text-center">
					<button id="btn_nuevo" class="btn btn-success btn-sm btn-block"
						data-url='@Url.Action("NuevoEvento", "Home")'>Nuevo Evento
					</button>
				</th>
				<th class="text-center">Código</th>
				<th class="text-center">Fecha</th>
				<th class="text-center">Lugar</th>
				<th class="text-center">Descripción</th>
				<th class="text-center">Precio</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.datoEvento)
			{
				<tr id="fila_@item.ci_id">
					<td class="text-center">
						<button id="@item.ci_id" class="btn-editar btn btn-warning btn-sm btn-block"
								data-url='@Url.Action("BuscarEvento", "Home")'>
							Editar
						</button>
						<button id="@item.ci_id" class="btn-eliminar btn btn-warning btn-sm btn-block"
								data-url='@Url.Action("EliminarEvento", "Home")'>
							Eliminar
						</button>
					</td>
					<td>@item.ci_id</td>
					<td>@item.fx_fecha</td>
					<td>@item.tx_lugar</td>
					<td>@item.tx_descripcion</td>
					<td>@item.va_precio</td>
				</tr>

			}
		</tbody>
	</table>
</div>

<script>
	$(document).ready(function () {
		$('#lista_eventos').DataTable();
	});
</script>

@{
	await Html.RenderPartialAsync("~/Views/Home/_script_eventos.cshtml");
}